<div class="closed-message">
    <h1>Vi har stängt för tillfället</h1>
    <p>Våra öppettider är:</p>
    <ul>
        <li>Måndag - sömdag: 08:00 - 20:00</li>
    </ul>
    <p>Vänligen kom tillbaka under våra öppettider.</p>
</div>