<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome to Pluggy</title>
	<link rel="stylesheet" type="text/css" href="/pluggy.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
		<header class="tonys-header">
			<div class="tonys-spacer"></div>
			<a href="/" class="tonys-logo-link">
				<img src="/img/tonys-pizza-logo.svg" alt="Tony's Pizza Logo" class="tonys-logo">
            </a>
			<div class="checkout-dropdown">
    		<a href="/checkout" class="tonys-basket-link">
    			<img src="/img/tonys-pizza-basket.svg" alt="Kundvagn" class="tonys-basket">
           	</a>
    		<div class="checkout-dropdown-content">
                <div class="checkout-dropdown-item">
                    <img src="image.png" alt="item" class="checkout-dropdown-image">
                    <span class="checkout-dropdown-name">name</span>
                    <a class="checkout-trash">
                        <img src="/img/trashcan.png" class="checkout-trash-icon">
                    </a>

                </div>
            </div>
        </div>
		</header>
		<main class="content">
			<%= template %>
		</main>
		<footer class="tonys-footer">
			<p>&copy; 2024 Tony's Pizzeria. Alla rättigheter förbehållna.</p>
		</footer>
	</div>
</body>
</html>
